version: '3.8'
 
services:
  react-app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        VITE_API_URL: /
    container_name: mentortutor-app-front
    ports:
      - "8092:80"
    networks:
      - mentortutor-network
 
networks:
  mentortutor-network:
    external: true