version: '3.8'
 
services:
  react-app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        VITE_API_URL: /api/v1/
    container_name: mentortutor-app-front
    networks:
      - mentortutor-network
 
networks:
  mentortutor-network:
    external: true