version: '3.8'
 
services:
  react-app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - VITE_API_URL: https://mentortutor-app:8080
    container_name: mentortutor-app-front
    ports:
      - "8090:80"
    networks:
      - mentortutor-network
 
networks:
  mentortutor-network:
    external: true